/* style gide
*Primary color: satin-gray
* secondary color: navey-blue
*/

body{
  background-color: rgb(240, 248, 255);
}
 

h1 {
  color: navy;
  font-family:'Indie Flower' cursive;
  font-size: 48px;
}

p{
  color: black;
}
img {
  border-radius: 50%;
  float: left;
  margin: .5em;
  shape-outside: circle(50%); 
  width: 100px;
  position:absolute;
}
/* Typograph
* Primary font:font-family: 'Indie Flower', cursive 
*/