/* style gide
*Primary color: satin-gray
* secondary color: navey-blue
*/

body{
  background-color: rgb(240, 248, 255);
}
 

h1 {
  color: navy;
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
}

p{
  color: black;
  font-family:'Indie Flower', cursive;
}
img {
  border-radius: 50%;
  float: left;
  margin:.5em;
  shape-outside:circle(50%); 
  width:200px;
  
}

ol{
  color: black;
  font-family:'Indie Flower', cursive
}
figure{
width:300px
}
figcaption{
column-count: 2;
column-width:100px;
}
main{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 8px;
}
/* Typograph
* Primary font:font-family: 'Indie Flower', cursive 
* secondary font: font-family: 'Comfortaa', cursive;/